.tab-content {
    padding: 20px 20px 0px 20px;
    border: 1px solid #ddd;
    border-top: none;
    min-height: 200px;
}

.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.select2-container {
    width: 100% !important;
}

.select2-selection {
    /*height: 34px !important;*/
}

.select2-selection__rendered {
    margin-top: 2px;
}

.select2-selection__arrow {
    margin-top: 2px;
}

.dataTables_wrapper {
    font-size: 12px !important;
}

.dataTables_paginate {
    font-size: 12px !important;
}

.form-group.has-danger .select2-selection {
    border-color: #a94442 !important;
}

.custom-checkbox {
    min-width: 50px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin: 0 !important;
}